USE [master]
GO
/****** Object:  Database [DiogoTurismo]    Script Date: 19/12/2021 04:46:41 ******/
CREATE DATABASE [DiogoTurismo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiogoTurismo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2019\MSSQL\DATA\DiogoTurismo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiogoTurismo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2019\MSSQL\DATA\DiogoTurismo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiogoTurismo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiogoTurismo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19/12/2021 04:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cadastro]    Script Date: 19/12/2021 04:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cadastro](
	[Id_cadastro] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Cpf] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Telefone] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cadastro] PRIMARY KEY CLUSTERED 
(
	[Id_cadastro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destino]    Script Date: 19/12/2021 04:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino](
	[Id_destino] [int] IDENTITY(1,1) NOT NULL,
	[Cidade_destino] [nvarchar](max) NOT NULL,
	[Cidade_origem] [nvarchar](max) NULL,
 CONSTRAINT [PK_Destino] PRIMARY KEY CLUSTERED 
(
	[Id_destino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passagens]    Script Date: 19/12/2021 04:46:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passagens](
	[Id_passagem] [int] IDENTITY(1,1) NOT NULL,
	[Numero_passaporte] [nvarchar](max) NOT NULL,
	[Data_saida] [nvarchar](max) NULL,
	[Data_chegada] [nvarchar](max) NULL,
	[Horario_saida] [nvarchar](max) NULL,
	[Horario_chegada] [nvarchar](max) NULL,
	[CadastroId_cadastro] [int] NOT NULL,
	[DestinoId_destino] [int] NOT NULL,
 CONSTRAINT [PK_Passagens] PRIMARY KEY CLUSTERED 
(
	[Id_passagem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Passagens_CadastroId_cadastro]    Script Date: 19/12/2021 04:46:42 ******/
CREATE NONCLUSTERED INDEX [IX_Passagens_CadastroId_cadastro] ON [dbo].[Passagens]
(
	[CadastroId_cadastro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Passagens_DestinoId_destino]    Script Date: 19/12/2021 04:46:42 ******/
CREATE NONCLUSTERED INDEX [IX_Passagens_DestinoId_destino] ON [dbo].[Passagens]
(
	[DestinoId_destino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Passagens]  WITH CHECK ADD  CONSTRAINT [FK_Passagens_Cadastro_CadastroId_cadastro] FOREIGN KEY([CadastroId_cadastro])
REFERENCES [dbo].[Cadastro] ([Id_cadastro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Passagens] CHECK CONSTRAINT [FK_Passagens_Cadastro_CadastroId_cadastro]
GO
ALTER TABLE [dbo].[Passagens]  WITH CHECK ADD  CONSTRAINT [FK_Passagens_Destino_DestinoId_destino] FOREIGN KEY([DestinoId_destino])
REFERENCES [dbo].[Destino] ([Id_destino])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Passagens] CHECK CONSTRAINT [FK_Passagens_Destino_DestinoId_destino]
GO
USE [master]
GO
